apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          imagePullPolicy: Never
          image: payment
          env:
            - name: NATS_CLIENT_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NATS_URL
              value: "http://nats:4222"
            - name: NATS_CLUSTER_ID
              value: ticketing
            - name: MONGO_URI
              value: "mongodb://payment-db:27017/payment"
            - name: STRIPE_SECRET_KEY
              value: "sk_test_51Ic2PmBVHjS9XfWJonAHrT50VKI9pa3F4T87EFmO61DjE6kfLHG2D4auFxpMn1Dky75srvbLOTkReDA20i3IjY4k00l0Rod00j"
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_KEY
            - name: STRIPE_KEY
              valueFrom:
                secretKeyRef:
                  name: stripe-secret
                  key: STRIPE_KEY
---
apiVersion: v1
kind: Service
metadata:
  name: payment
spec:
  selector:
    app: payment
  ports:
    - name: payment
      protocol: TCP
      port: 5000
      targetPort: 5000
